<div class = "panel">
	<h3> Add an Equipment </h3>
	<%= form_for @equipment do |f| %>
	  <%= f.label :name %>
	  <%= f.text_field :name,  class: 'form-control', placeholder: 'Enter Name', cached: true  %>

	  <%= f.label :description %>
    <%= f.text_field :description,  class: 'form-control', placeholder: 'Enter Description', cached: true %>

    <%= f.label :Select_Equipment_type %>
    <%= f.select :kind, Equipment.kinds.keys.map { |k| [k.humanize, k] }%>

		<%= f.submit 'Submit', class: "button success small" %>
	<% end %>
</div>
