<table align="center">
  <thead>
    <tr>
      <th>Employee Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Days</th>
      <th>Kind</th>
      <th>Reason</th>
      <th>Status</th>
      <th>Manager's Name</th>
      <% if current_user.manager? %>
        <th>Manager actions</th>
      <% else %>
        <th>Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @leaves.each do |leave| %>
      <tr>
        <td><%= leave.user.full_name.capitalize %></td>
        <td><%= leave.from %></td>
        <td><%= leave.to %></td>
        <td><%= leave.days %></td>
        <td><%= leave.kind.capitalize %></td>
        <td><%= leave.message %></td>
        <td><%= leave.state.capitalize %></td>
        <td><%= leave.user.managers&.first&.full_name %></td>
        <% if (leave.user != current_user) && current_user.manager? %>
          <td>
            <%= form_for leave do |f|%>
              <% if leave.approved? %>
                <%= f.submit "Reject" , class: "button tiny alert round" %>
              <% elsif leave.rejected?%>
                <%= f.submit "Approve", class: "button tiny success round" %>
              <% else %>
                <%= f.submit "Approve", class: "button tiny success round" %>
                <%= f.submit "Reject" , class: "button tiny alert round" %>
              <% end %>
            <% end %>
          </td>
        <% else %>
          <td><%= link_to "View", leave_path(leave) , class: "button tiny success round"%>
          <%= link_to "Edit", edit_leave_path(leave) , class: "button tiny round"%>
           <%= link_to "Revoke", leave_path(leave), method: :delete, class: "button tiny alert round" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
