<% provide(:title, "Leaves") %>
<div class="panel" align="center">
	<h1> Leaves </h1>
	<%= link_to "Apply", new_leave_path, class: "button round tiny" %>

<%= render 'leave' %>
<%= month_calendar events: @leaves do |date, leaves| %>
  <%= date %>

  <% leaves.each  do |leave| %>
    <div>
	    <% if leave.state == 'approved'  %>
	       <b>On Leave</b> (<%= leave.user.email %>)
	    <% end %>
    </div>
 <% end %>
<% end %>
</div>