<% provide(:title, "Leaves") %>
<div class="panel" align="center">
	<h1> LEAVES </h1>
	<br>

<% if  current_user.employee? %>
	<%= link_to "Apply", new_leave_path, class: "button round tiny" %>
<% end %>
<% if @leaves.any? %>
	<%= render 'leave' %>
<% end %>
<%= month_calendar events: Leave.all do |date, leaves| %>
  <%= date %>

  <% leaves.each  do |leave| %>
    <div>
	    <% if leave.state == 'approved'  %>
	       <b>On Leave</b> (<%= leave.user.first_name.capitalize %>)
	    <% end %>
    </div>
 <% end %>
<% end %>
</div>
