<% provide(:title, "Leave") %>
<div align="center">
	<h1> Leave </h1>
	<table>
		<thead>
		  <tr>
		    <th> From </th>
		    <th> To </th>
		    <th> Days </th>
		    <th> Message </th>
		    <th>Status </th>
		    <th> Actions </th>
		  </tr>
		</thead>
		<tbody>
			<tr>
				<td><%= @leave.from %></td>
				<td><%= @leave.to %></td>
				<td><%= @leave.days %></td>
				<td><%= @leave.message %></td>
				<td><%= @leave.status %></td>
				<td><%= link_to "Edit", edit_leave_path(@leave) %> | 
         <%= link_to "Cancel", leave_path(@leave), method: :delete %></td>
			</tr>
		</tbody>
	</table>
</div>
