<% provide(:title, "Accesses") %>
<div class="panel" align="center">
  <%= form_with url: searches_path, method: :post  do |f| %>
    <%= f.text_field :q, name:"search", placeholder:"Enter Access Name", behavior: "autocomplete" %>
    <%= f.button "Search"%>
  <% end %>
  <!-- <table id="accesses">
    <tr>
      <th>Access Name</th>
      <th>Access description</th>
    </tr>
    <% @accesses.each do |access| %>
    <tr>
      <td><%= link_to(access.name, access) %></td>
      <td><%= access.description %></td>
    </tr>
    <% end %>
  </table> -->
</div>
